[data-theme="wood"] {
	--bg-main: #3f2811;
	--border-dark: #6d4321;
	--border-light: #b77a3c;
	--text-main: #f4e8c1;
	--text-secondary: #fff8dc;
	--primary-start: #120747;
	--primary-end: #035078;
	--shadow-color: #2c1a0d;
}
