@font-face {
    font-family: 'Charge Vector Black';
    src: url('../public/Charge Vector Black.otf') format('truetype');
}
.App {
  text-align: center;
  font-family: 'Charge Vector Black'
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
    background: linear-gradient(140deg, #120747, #035078);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.App-link {
  color: #61dafb;
}
.globalContainer {
    align-items: center;
    background-color: rgba(18, 7, 71, 0.1);
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: auto;
    height: 100vh;
    width: 50%;
    box-shadow: 0px 5px 30px black;
    padding-top: 75px;
}
.globalContainer p {
    font-size: 20px;
}

/* NAVBAR*/
.navBarContent {
    width: 50%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    flex-flow: column;
}
.halfCircle {
    background-color: #054873;
    border-radius: 0 0 10rem 10rem;
    height: 4rem;
    width: 5rem;
    margin: auto;
}
.halfCircle:hover {
    cursor: pointer;
    background-color: #0C275C;
}
#navBar {
    height: 0;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-color: #054873;
    display: flex;
    font-size: 20px;
    padding: 0;
    flex-wrap: wrap;
    transition: height 1s ease-in-out;
    gap: 20px;
    overflow-y: hidden;
}
#navBar.expended {
    height: fit-content;
    transition: height 1s ease-in-out;
    padding: 20px 0;
}
a.navLink.linkFromNav {
    background-color: #0f1751;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    height: 104px;
    text-decoration: none;
    width: 120px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10px;
}
a.navLink.linkFromNav:hover{
    background-color:#0c275c;
}
a.navLink.linkFromNav img {
    width: 55px;
}
a.navLink.linkFromNav p {
    background-color: #054873;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    font-size: 15px;
}
/* ACCEUIL */
.connectionBar {
    align-items: center;
    background-color: #120747;
    display: flex;
    font-size: 20px;
    justify-content: center;
    width: fit-content;
    border-radius: 5px;
    padding: 15px;
    flex-wrap: wrap;
    margin: 0 0 25px 0px;
}
.connectionBar p {
    margin: 5px 0 5px 0px;
}

.loginButton {
    background-color: #6441a5;
    border: none;
    border-radius: 3px;
    color: #fff;
    display: flex;
    font-size: 15px;
    line-height: 3px;
    padding: 15px;
    float: inline-end;
    margin: 0 10px 0 10px;
    font-weight: 900;
    filter: drop-shadow(2px 4px 6px black);
}
.loginButton:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 0px black);
}

.socialContainer {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

/* SHINY DEX */
.shinydexContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 90%;
    margin: auto;
    padding-bottom: 100px;
}

.shinydexCard {
    width: 300px;
    display: flex;
    flex-flow: column;
    border: solid 1px #120747;
}

.shinydexName {
    color: white;
    text-align: center;
    background-color: #120747;
    padding: 5px;
    font-size: 18px;
}

.shinydexSpriteContainer {
    background-image: linear-gradient(to bottom right, #120747, #072057 25%, #120747 50%, #072057 75%, #120747);
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    position: relative;
}

.shinydexSprite {
    max-width: 100%;
    max-height: 150px;
    width: auto;
}

.description {
    color: white;
    text-align: center;
    background-color: #120747;
    padding: 5px;
    font-size: 18px;
}

.spanShinydex {
    color: #83d7d7;
}

.linkShinydex {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
}

/* Combat */
.fightContainer {
    align-items: center;
    background-color: #054873;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    height: 61vh;
    width: 75%;
}
.progressBarFightExternal {
    background-color: #fff;
    border-radius: 10px;
    height: 20px;
    width: 300px;
}
.progressBarFightInternal {
    background-color: red;
    border-radius: 10px;
    height: 20px;
    width: 50%;
}
.shinydexSprite {
    max-height: 250px;
    max-width: 100%;
    width: auto;
    margin-top:"50px";
}
.fightActionsContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.fightActions {
    width: 100px;
    height: 100px;
    background-color: #0D235A;
    border-radius: 10px;
}
.fightActions img {
    width: 55px;
}
.fightSprite {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    position: relative;
    margin: 30px;
    width: 275px;
}
.fightActions p{
    font-size:13px;
    margin:0;
}
.tierFight {
    padding: 5px;
    font-size: 13px;
    margin-bottom: 15px;
}
.fightName {
    margin-top: 10px;
    margin-bottom: 0;
}
/* Media Query */
@media (max-width: 1250px) {
    .globalContainer {
        width: 100%;
    }
}
