@font-face {
    font-family: 'Charge Vector Black';
    src: url('../public/Charge Vector Black.otf') format('truetype');
}
.App {
  text-align: center;
  font-family: 'Charge Vector Black'
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
    background: linear-gradient(140deg, #120747, #035078);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    min-height: 100vh;
}
.App-link {
  color: #61dafb;
}
.globalContainerCenter {
    align-items: center;
    background-color: #1207471a;
    box-shadow: 0 5px 30px #000;
    display: flex;
    flex-flow: column;
    height: -webkit-fill-available;
    height: -moz-available;
    min-height: 100vh;
    justify-content: center;
    margin: auto;
    width: 50%;
}
.globalContainerCenter p {
    font-size: 20px;
}
.globalContainer {
    align-items: flex-start;
    background-color: #1207471a;
    box-shadow: 0 5px 30px #000;
    display: flex;
    height: -webkit-fill-available;
    height: -moz-available;
    min-height: 100vh;
    justify-content: center;
    width: 50%;
}
.globalContainer p {
    font-size: 20px;
}

/* NAVBAR*/
.navBarContent {
    width: 50%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    flex-flow: column;
    z-index: 10;
}
.halfCircle {
    background-color: #054873;
    border-radius: 0 0 10rem 10rem;
    height: 4rem;
    margin: auto;
    width: 5rem;
    border-right: solid white;
    border-left: solid white;
    border-bottom: solid white;
}
.halfCircle:hover {
    cursor: pointer;
    background-color: #0C275C;
}
#navBar {
    height: 0;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-color: #054873;
    display: flex;
    font-size: 20px;
    padding: 0;
    flex-wrap: wrap;
    transition: height 1s ease-in-out;
    gap: 20px;
    overflow-y: hidden;
    border-bottom: white solid;
}
#navBar.expended {
    height: fit-content;
    transition: height 1s ease-in-out;
    padding: 20px 0;
}
a.navLink.linkFromNav {
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    height: 104px;
    text-decoration: none;
    width: 120px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10px;
}
a.navLink.linkFromNav:hover{
    background-color:#0c275c;
}
a.navLink.linkFromNav img {
    width: 55px;
}
a.navLink.linkFromNav p {
    background-color: #054873;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    font-size: 15px;
}
/* ACCEUIL */
.connectionBar {
    align-items: center;
    background-color: #120747;
    display: flex;
    font-size: 20px;
    justify-content: center;
    width: fit-content;
    border-radius: 5px;
    padding: 15px;
    flex-wrap: wrap;
    margin: 0 0 25px 0px;
}
.connectionBar p {
    margin: 5px 0 5px 0px;
}

.loginButton {
    background-color: #6441a5;
    border: none;
    border-radius: 3px;
    color: #fff;
    display: flex;
    font-size: 15px;
    line-height: 3px;
    padding: 15px;
    float: inline-end;
    margin: 0 10px 0 10px;
    font-weight: 900;
    filter: drop-shadow(2px 4px 6px black);
}
.loginButton:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 0px black);
}

.socialContainer {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}
/* PROFIL */
.showPokedex {
    width: fit-content;
    padding: 2px;
    background: #fff3;
    border: 2px solid #a4b3bd;
    border-radius: 5px;
    color: #fff;
    font-family: Charge Vector Black;
    letter-spacing: 1px;
    width: fit-content!important;
}
.showPokedex:hover {
    background: #05487380;
    border: 2px solid #054873;
    cursor: pointer;
}
.filterProfil {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    width: 100%;
    border-top: #8a9cdd 2px solid;
    padding-top: 25px;
    border-bottom: #8a9cdd 2px solid;
    padding-bottom: 25px;
}
.filterProfil button {
    color: white;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    font-family: Charge Vector Black;
    letter-spacing: 1px;
    border: 2px solid #a4b3bd;
}

.filterProfil button:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    border: rgba(5, 72, 115, 1) solid 2px;
    background: rgba(5, 72, 115, 0.5);
}

.filterProfil .active {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    border: rgba(5, 72, 115, 1) solid 2px;
    background: rgba(5, 72, 115, 0.5);
}
.profilContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    margin-top: 130px;
    padding-bottom: 100px;
    width: 90%;
}
.profilHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
a.leaderboardHeaderContainerLink {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
    color: white;
}
.leaderboardHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    border: 1px solid #8a9cdd;
}
.leaderboardHeaderContainer:hover {
    background-color: #3b3b3b4d;
    cursor:pointer;
}
.rank {
    font-weight: 900;
    font-size: 0.75rem;
    line-height: 1rem;
    background-color: rgba(51, 65, 85, 0.5);
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    display: flex;
    color: #8a9cdd;
}
.profilHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.profilHeader img {
    width: 100px;
}
.profilInfos p {
    text-align: left;
    margin: 0;
    font-size: 20px;
}
.profilDex p {
    text-align: left;
    margin: 0;
    font-size: 13px;
}
.profilDex .levelProfil {
    font-size: 20px;
}
p.levelProfil {
    font-size: 15px;
}
.progressBarProfilExternal {
    background-color: #fff;
    border: 1px solid #8a9cdd;
    height: 10px;
    width: 100%;
    border-radius: 10px;
}
.progressBarProfilInternal {
    color: #072851;
    height: 10px;
    max-width: 100%;
    position: relative;
    transition: width 1s ease-in-out;
    border-radius: 10px;
    background: linear-gradient(140deg, #120747, #035078);
}
.progressBarProfilInternal p {
    color: #fff;
    left: 0;
    position: absolute;
    right: 0;
}
.textProgressProfil {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}
.textProgressProfil p {
    margin: 0;
    margin-bottom: -15px;
    font-size: 13px;
}
.profilBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 15px;
}
.boxProfilLarge {
    background: #0003;
    border-radius: 10px;
    height: 100px;
    padding-left: 25px;
    width: 380px;
    border: #8a9cdd solid 1px;
}
.profilPicture {
    border-radius: 10px;
    border: #8a9cdd solid 1px;
    width: 85px;
    padding: 5px;
    margin-right: 10px;
    height: 85px;
}
.compagnonPicture {
    border: 1px solid #8a9cdd;
    border-radius: 10px;
    height: 85px;
    margin-left: 10px;
    padding: 5px;
    width: 85px;
}
.skinContainer .profilPicture:hover{
    background-color:white;
    border:black solid 1px;
    cursor:pointer;
}
.skinPicture {
    border-radius: 100%;
    border: #8a9cdd solid 1px;
    width: 85px;
    padding: 5px;
}
#skinPicture:hover {
    border-radius: 100%;
    border: black solid 1px;
    cursor:pointer;
    background-color:white!important;
}
.skinContainer{
    display:flex;
    flex-direction:row;
    gap:10px;
    flex-wrap:wrap;
}
.openSkinDiv {
    width: 100px;
    height: 100px;
    background-image: url('../public/case.png');
    background-size: cover;
    background-color: #7b0808;
    border-radius: 100%;
    border: 1px solid #8a9cdd;
}
.openSkinDiv:hover {
    background-color: white;
    border: 1px solid black;
    cursor:pointer;
}
.openSkinText {
    border-radius: 100%;
    background-color: #7b0808;
    width: 25px;
    border: 1px solid #8a9cdd;
    text-align: center;
    height: 25px;
    position: relative;
    left: -5px;
    top: -10px;
}
.leaderboardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;
    margin-top: 130px;
    padding-bottom: 100px;
    width: 90%;
}
/* SHINY DEX */
.shinydexContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 90%;
    margin: auto;
    padding-bottom: 100px;
}

.shinydexCard {
    width: 270px;
    display: flex;
    flex-flow: column;
    border: solid 1px #120747;
}

.shinydexName {
    color: white;
    text-align: center;
    background-color: #120747;
    padding: 5px;
    font-size: 18px;
}

.shinydexSpriteContainer {
    background-image: linear-gradient(to bottom right, #120747, #072057 25%, #120747 50%, #072057 75%, #120747);
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    position: relative;
}

.shinydexSprite {
    max-width: 100%;
    max-height: 150px;
    width: auto;
}

.description {
    color: white;
    text-align: center;
    background-color: #120747;
    padding: 5px;
    font-size: 18px;
}

.spanShinydex {
    color: #83d7d7;
}

.linkShinydex {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
}

/* Combat */
.loveBarContainer {
    background: linear-gradient(180deg, #2a1a24, #1a1016);
    border: 2px solid #ff9ecf;
    border-radius: 18px;
    box-shadow: inset 0 2px 4px #ffffff1a, inset 0 -2px 4px #00000080, 0 0 12px #ff149359;
    height: 17px;
    overflow: visible;
    position: relative;
    width: 50%;
}
.loveBarContainer::after {
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-linear-gradient( 90deg, transparent, transparent calc(10% - 2px), rgba(255,255,255,.2) calc(10% - 2px), rgba(255,255,255,.2) 10% );
    pointer-events: none;
    z-index: 2;
}
.loveBar {
    height: 100%;
    border-radius: 16px;
    position: relative;
    background: linear-gradient( 90deg, #ff9ecf, #ff4da6, #ff1493 );
    transition: width .8s ease;
    box-shadow: inset 0 2px 4px rgba(255,255,255,.3), 0 0 15px rgba(255,20,147,.5);
}
    .loveBar::before {
        content: "";
        position: absolute;
        top: 0;
        left: -50%;
        width: 50%;
        height: 100%;
        background: linear-gradient( 90deg, transparent, rgba(255,255,255,.4), transparent );
        animation: loveShine 2s infinite alternate;
    }
.loveText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    text-shadow: 0 0 5px black, 0 0 10px black;
    z-index: 3;
}
.heart {
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    right: -26px;
    top: 50%;
    transform: translateY(-50%);
    width: 42px;
    height: 42px;
    background: #ffffff;
    clip-path: shape( from 50% 91%, line to 90% 50%, arc to 50% 9% of 1%, arc to 10% 50% of 1% );
    box-shadow: 0 0 10px rgba(255,255,255,.8), 0 0 20px rgba(255,20,147,.7);
    animation: heartBeat 1s infinite alternate;
    z-index: 5;
}
.heartInt {
    position: absolute;
    width: 34px;
    height: 34px;
    clip-path: inherit;
    transition: background .3s ease;
    box-shadow: inset 0 2px 4px rgba(255,255,255,.4), 0 0 10px rgba(255,20,147,.8);
}
@keyframes heartBeat {
    from {
        transform: translateY(-50%) scale(1);
    }

    to {
        transform: translateY(-50%) scale(1.12);
    }
}
@keyframes loveShine {
    from {
        left: -5%;
    }

    to {
        left: 62%;
    }
}
.fightContainer {
    align-items: center;
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    height: 61vh;
    width: 75%;
    background-blend-mode: darken;
    position: relative;
    justify-content: center;
    background-size: cover;
    border: white 3px solid;
}


.fightActionsContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.4);
    padding: 15px 0 15px 0;
    border-radius: 10px;
    min-height: 100px;
}
.honeyActionsContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: auto;
    max-width: 430px;
}

.honeyActions {
    background-color: #0000001a;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.honeyActions:hover {
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}
.honeyActions img {
    width: 50px;
}
.honeyActions p {
    font-size: 20px;
    margin:0;
}

.fightActions {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    flex-flow: column;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fightActionsFlee {
    width: 100px;
    height: 100px;
    background-color: rgba(173, 10, 10, 0.5);
    border-radius: 10px;
    height: 65px;
    width: 65px;
    position: absolute;
    right: 10px;
}
fightActionsFlee img {
    width: 55px;
}
.fightActionsFlee p {
    font-size: 13px;
    margin: 0;
}
.fightActionsFlee:hover {
    background-color: rgba(173, 10, 10, 0.6);
    cursor: pointer;
}
.fightActions:hover {
    background-color: rgba(0,0,0,0.6);
    cursor:pointer;
}

.fightActions img {
    width: 35px;
    margin: 7px;
}
.fightSpriteCard {
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    perspective: 1000px;
    transform-style: preserve-3d;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: myAnimation;
}

    .fightSpriteCard img {
        width: 250px;
        height: 250px;
        object-fit: contain;
        width: auto;
        height: auto;
        position: relative;
        z-index: 20;
    }
.shadowPokemon img {
    animation: shadowPulse 2.5s infinite ease-in-out, shadowFloat 3s infinite ease-in-out, corruptionFlash 8s infinite;
    filter: brightness(.55) contrast(1.6) saturate(.4) hue-rotate(260deg) drop-shadow(0 0 15px #6a00ff) drop-shadow(0 0 35px #b000ff);
    width: 250px;
    position: relative;
    z-index: 20;
}
.redCloudsBack {
    position: absolute;
    width: 350px;
    height: 350px;
    z-index: 5;
}
.redCloudsFront {
    position: absolute;
    width: 350px;
    height: 350px;
    z-index: 25;
}
    .redCloudsFront span {
        opacity: .4;
    }
.redCloudsBack span {
    opacity: .8;
}
    .redCloudsBack span,
    .redCloudsFront span {
        position: absolute;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        background: radial-gradient( circle, rgba(255,50,50,.7) 0%, rgba(180,0,0,.5) 35%, rgba(40,0,0,.2) 70%, transparent 100% );
        filter: blur(20px);
        animation: smokeMove 8s infinite ease-in-out;
    }
        .redCloudsBack span:nth-child(1) {
            top: 40px;
            left: 20px;
        }

        .redCloudsBack span:nth-child(2) {
            top: 180px;
            left: 50px;
        }

        .redCloudsBack span:nth-child(3) {
            top: 120px;
            left: 200px;
        }
        .redCloudsFront span:nth-child(1) {
            top: 70px;
            left: 180px;
        }

        .redCloudsFront span:nth-child(2) {
            top: 180px;
            left: 170px;
        }

        .redCloudsFront span:nth-child(3) {
            top: 20px;
            left: 100px;
        }
@keyframes smokeMove {

    0% {
        transform: translate(0,0) scale(1);
        opacity: .3;
    }

    50% {
        transform: translate(15px,-10px) scale(1.2);
        opacity: .8;
    }

    100% {
        transform: translate(0,0) scale(1);
        opacity: .3;
    }
}
@keyframes corruptionFlash {

    0%, 96%, 100% {
        opacity: 1;
    }

    97% {
        opacity: .8;
    }

    98% {
        opacity: 1;
    }
}

@keyframes shadowPulse {
    0% {
        filter: saturate(1.2) hue-rotate(220deg) drop-shadow(0 0 15px #6a00ff);
    }

    50% {
        filter: saturate(1.8) hue-rotate(250deg) drop-shadow(0 0 40px #ff00ff);
    }

    100% {
        filter: saturate(1.2) hue-rotate(220deg) drop-shadow(0 0 15px #6a00ff);
    }
}

@keyframes shadowFloat {

    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(0);
    }
}
.shadowAura {
    position: absolute;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: radial-gradient( circle, rgba(180,0,255,.5) 0%, rgba(80,0,120,.25) 40%, transparent 70% );
    filter: blur(40px);
    animation: auraPulse 4s infinite ease-in-out;
    z-index: 1;
}
@keyframes auraPulse {

    0% {
        transform: scale(1);
        opacity: .5;
    }

    50% {
        transform: scale(1.25);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: .5;
    }
}
.energyRing {
    position: absolute;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    z-index: 5;
    pointer-events: none;
}
.ring1 {
    border-bottom: 3px solid #372f3f;
    border-top: 3px solid #000000;
    filter: drop-shadow(0 0 8px #ff00ff) drop-shadow(0 0 20px #ff00ff);
    animation: rotateRing1 4s linear infinite;
}

@keyframes rotateRing1 {

    from {
        transform: rotateX(75deg) rotateZ(0deg);
    }

    to {
        transform: rotateX(75deg) rotateZ(360deg);
    }
}
.ring2 {
    width: 260px;
    height: 260px;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    filter: drop-shadow(0 0 8px #ff00ff);
    animation: rotateRing2 2.5s linear infinite reverse;
}

@keyframes rotateRing2 {

    from {
        transform: rotateY(75deg) rotateZ(0deg);
    }

    to {
        transform: rotateY(75deg) rotateZ(360deg);
    }
}
.energyRing::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -8px;
    width: 45px;
    height: 6px;
    background: #000000;
    border-radius: 999px;
    box-shadow: 0 0 5px #000000, 0 0 15px #030303, 0 0 30px #000000;
}
.lightningBurst {
    position: absolute;
    width: 350px;
    height: 350px;
    z-index: 15;
    pointer-events: none;
}

    .lightningBurst span {
        position: absolute;
        width: 6px;
        height: 140px;
        background: #000000;
        opacity: 0;
        border-radius: 999px;
        box-shadow: 0 0 5px white, 0 0 10px #ff00ff, 0 0 30px #ff00ff;
        animation: burst 4s infinite;
    }
        .lightningBurst span:nth-child(1) {
            top: 30px;
            left: 170px;
            transform: rotate(25deg);
        }

        .lightningBurst span:nth-child(2) {
            top: 150px;
            left: 40px;
            transform: rotate(-70deg);
        }

        .lightningBurst span:nth-child(3) {
            top: 90px;
            left: 290px;
            transform: rotate(70deg);
        }

        .lightningBurst span:nth-child(4) {
            top: 230px;
            left: 170px;
            transform: rotate(160deg);
        }
@keyframes burst {

    0%, 90%, 100% {
        opacity: 0;
    }

    91% {
        opacity: 1;
    }

    92% {
        opacity: 0;
    }

    93% {
        opacity: 1;
    }

    94% {
        opacity: 0;
    }
}
.fightActions p {
    font-size: 13px;
    margin: 0;
}

.tierFight {
    font-size: 13px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
    line-height: 8px;
    padding: 7px 10px 5px 10px;
}

.fightContainer > .fightName {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 30px;
}
.pokeball {
    display: block;
    width: 192px;
    height: 192px;
    border-radius: 50%;
    border: 8px solid black;
    box-shadow: inset -16px -8px 0 0 rgba(0, 0, 0, 0.2);
    animation: shake cubic-bezier(.36,.07,.19,.97) 1.5s 3,catch .5s ease-out 5.25s forwards
}
.emptyInventory {
    background: rgba(16, 16, 77, 0.5);
    padding: 10px;
    border-radius: 10px;
}
/* Inventaire */
.inventoryContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.twitchLink {
    color: #fff;
    text-decoration: none;
}
.twitchLink:hover {
    color: #c6e8f9;
}
/* Pokedex */
.dexContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    margin-top: 130px;
    padding-bottom: 100px;
    width: 90%;
}

.dexCard {
    display: flex;
    flex-flow: column;
    width: 145px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    border: 2px solid #a4b3bd;
}

.dexName {
    color: #8fc9ef;
    text-align: center;
    padding: 5px;
    font-size: 18px;
}

.dexSpriteContainer {
    flex: 1 1 auto;
    min-height: 1px;
    position: relative;
    display: flex;
    justify-content: center;
}

.dexSprite {
    max-height: 63px;
    max-width: 100%;
    width: auto;
}

.dexDescription {
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.dexDescription p {
    margin: 0;
    font-size: 12px;
}
span.dexNumber {
    position: absolute;
    font-size: 10px;
    left: 5px;
    top: -6px;
    color: #8fc9ef;
}
.genFilter {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
}
.genFilter button {
    color: white;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    font-family: Charge Vector Black;
    letter-spacing: 1px;
    border: 2px solid #a4b3bd;
}
.genFilter button:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    border: rgba(5, 72, 115, 1) solid 2px;
    background: rgba(5, 72, 115, 0.5);
}
.buttonLeaderboard button {
    color: white;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    font-family: Charge Vector Black;
    letter-spacing: 1px;
    border: 2px solid #a4b3bd;
}
.buttonLeaderboard button:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    border: rgba(5, 72, 115, 1) solid 2px;
    background: rgba(5, 72, 115, 0.5);
}
.genFilter .active {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    border: rgba(5, 72, 115, 1) solid 2px;
    background: rgba(5, 72, 115, 0.5);
}

 /* Compagnon*/
.dexCardCompagnon {
    display: flex;
    flex-flow: column;
    width: 145px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    border: 2px solid #a4b3bd;
}
.dexCardCompagnon:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor:pointer;
}

/* Expedition */
.expeditionContainer{
    display : "flex";
    justify-content:"center";
    align-items:"center";
    justify-content:"center";
}
.validExpeditionButton {
    background: #fff3;
    border: 2px solid #a4b3bd;
    border-radius: 5px;
    color: #fff;
    font-family: Charge Vector Black;
    letter-spacing: 1px;
    margin: 10px;
}
.validExpeditionButton:hover {
    background: #05487380;
    border: 2px solid #054873;
    cursor: pointer;
}
/* Combat */

.hpBarContainer {
    position: relative;
    width: 70%;
    height: 17px;
    border: 2px solid #d4d4d4;
    border-radius: 12px;
    overflow: hidden;
    background: linear-gradient( to bottom, #111, #222 );
    box-shadow: inset 0 2px 4px rgba(255,255,255,0.15), inset 0 -2px 4px rgba(0,0,0,0.6), 0 0 10px rgba(0,0,0,0.5);
}
    .hpBarContainer::after {
        content: "";
        position: absolute;
        inset: 0;
        background: repeating-linear-gradient(90deg, #0000, #0000 calc(10% - 3px), #fff6 calc(10% - 3px), #ffffff00 calc(10% - 1px), #00000000 10%);
        z-index: 2;
    }

.hpBar {
    height: 100%;
    border-radius: 8px;
    transition: width 0.8s ease, background 0.3s ease;
    position: relative;
    box-shadow: inset 0 2px 6px rgba(255,255,255,0.3), 0 0 15px rgba(0,255,100,0.4);
}

/* Effet brillant */
    .hpBar::after {
        content: "";
        position: absolute;
        top: 0;
        left: -50%;
        width: 50%;
        height: 100%;
        background: linear-gradient( 90deg, transparent, rgba(255,255,255,0.35), transparent );
        animation: shine 2s infinite alternate;
    }

.hpText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 0 0 6px rgba(255,255,255,0.6);
    z-index: 2;
    user-select: none;
}

@keyframes shine {
    from {
        left: -50%;
    }

    to {
        left: 65%;
    }
}

.progressBarFightExternalXp {
    background-color: transparent;
    height: 20px;
    width: 70%;
    border: white solid 1px;
    position: relative;
}

.progressBarFightInternalXp {
    background-color: #2483c3;
    height: 20px;
    transition: width 1s ease-in-out;
    color: #072851;
    position: relative;
    max-width: 100%;
}
.progressBarFightExternalXp p {
    color: #fff;
    left: 0;
    position: absolute;
    right: 0;
    top: -22px;
}
.fightSpriteCardEnemy {
    background-position: 50%;
    background-repeat: no-repeat;
    height: 270px;
    margin-top: 35px;
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible;
}
.fightSpriteCardInvert {
    background-position: 50%;
    background-repeat: no-repeat;
    height: 270px;
    margin-top: 35px;
    transform: scaleX(-1);
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spawnInvert {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: spawnInvert;
}
.spawn {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: myAnimation;
}
.fightAttack {
    animation: attack 0.4s ease-out;
}
.fightSpriteCardEnemy.hit {
    animation: hit 250ms cubic-bezier(.2,.8,.3,1), damageFlash 250ms ease-out;
}
.fightSpriteWrapper {
    position: relative;
}

.fightSpriteCardEnemy {
    position: relative;
}

.damageText,
.hitParticle {
    position: absolute;
}
.damageText {
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    font-size: 32px;
    font-weight: bold;
    pointer-events: none;
    z-index: 100;
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
    animation: damageFloat 1s ease-out forwards;
}
.damageText.critical {
    color: #ffd700;
    font-size: 48px;
}


@keyframes damageFloat {

    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.3);
    }

    15% {
        opacity: 1;
        transform: translate( calc(-50% + var(--endX) * 0.15), calc(-50% + var(--endY) * 0.15 - 20px) ) scale(1.4);
    }

    50% {
        transform: translate( calc(-50% + var(--endX) * 0.5), calc(-50% + var(--endY) * 0.5 - 50px) ) scale(1);
    }

    100% {
        opacity: 0;
        transform: translate( calc(-50% + var(--endX)), calc(-50% + var(--endY)) ) scale(0.8);
    }
}

.critical {
    color: gold;
    font-size: 40px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000, 0px 0px 10px #ffcc00;
}
.koAnimation {
    animation: koAnimation 1s forwards;
}
.hitParticle {
    position: absolute;
    background: #ffb000;
    border-radius: 2px;
    pointer-events: none;
    z-index: 50;
    box-shadow: 0 0 4px #ffb000, 0 0 8px #ff6a00;
    animation: particleBurst 500ms ease-out forwards;
}

@keyframes particleBurst {

    0% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(var(--rotation)) scale(1);
    }

    100% {
        opacity: 0;
        transform: translate( calc(-50% + var(--dx)), calc(-50% + var(--dy)) ) rotate(var(--rotation)) scale(0);
    }
}
    /* Animation */
@keyframes koAnimation {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(150px);
    }
}
@keyframes attack {
    0% {
        transform: scale(1) scaleX(-1) translateX(0);
    }

    30% {
        transform: scale(1) scaleX(-1) translateX(-50px);
    }

    40% {
        transform: scale(1) scaleX(-1) translateX(-60px);
    }

    100% {
        transform: scale(1) scaleX(-1) translateX(0);
    }
}
@keyframes hit {

    0% {
        transform: translateX(0) scale(1);
    }

    15% {
        transform: translateX(-12px) scale(0.92, 1.08);
    }

    35% {
        transform: translateX(8px) scale(1.05, 0.95);
    }

    55% {
        transform: translateX(-4px) scale(0.98, 1.02);
    }

    100% {
        transform: translateX(0) scale(1);
    }
}

@keyframes damageFlash {

    0%, 100% {
        opacity: 1;
        filter: none;
    }

    30% {
        opacity: 0.65;
        filter: brightness(0.6) sepia(1) saturate(15) hue-rotate(-40deg);
    }
}
    @keyframes myAnimation {
        from {
            transform: scale(0);
        }

        to {
            transform: scale(1);
        }
    }
    @keyframes spawnInvert {
        from {
            transform: scale(0) scaleX(-1);
        }

        to {
            transform: scale(1) scaleX(-1);
        }
    }
    @keyframes shake {
        0% {
            transform: translateX(0) rotate(0);
        }

        20% {
            transform: translateX(-10px) rotate(-20deg);
        }

        30% {
            transform: translateX(10px) rotate(20deg);
        }

        50% {
            transform: translateX(-10px) rotate(-10deg);
        }

        60% {
            transform: translateX(10px) rotate(10deg);
        }

        100% {
            transform: translateX(0) rotate(0);
        }
    }

    @keyframes catch {
        to {
            filter: saturate(0.8) brightness(0.8);
        }
    }
    /* Media Query */
    @media (max-width: 1250px) {
        .globalContainer {
            width: 100%;
        }

        .fightContainer {
            width: 100%;
        }

        .navBarContent {
            width: 100%;
        }

        .globalContainerCenter {
            width: 100%;
        }

        .welcomeText p {
            margin-top: 80px;
        }
    }
