@font-face {
    font-family: 'Charge Vector Black';
    src: url('../public/Charge Vector Black.otf') format('truetype');
}
.App {
  text-align: center;
  font-family: 'Charge Vector Black'
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
div {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 0 0 6px #fff9;
}
.App-header {
    background: linear-gradient(140deg, #120747, #035078);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    min-height: 100vh;
}
header.App-header p {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: #fff8dc;
}
.App-link {
  color: #61dafb;
}
.globalContainerCenter {
    align-items: center;
    background-color: #1207471a;
    box-shadow: 0 5px 30px #000;
    display: flex;
    flex-flow: column;
    height: -webkit-fill-available;
    height: -moz-available;
    min-height: 100vh;
    justify-content: flex-start;
    margin: auto;
    width: 50%;
    padding-top: 70px;
    background: #3f2811f0;
    border: 6px solid #6d4321;
    box-shadow: 0 0 0 4px #b77a3c, 0 15px 40px rgba(0, 0, 0, .4);
}
.globalContainerCenter p {
    font-size: 20px;
}
.globalContainer {
    align-items: flex-start;
    background-color: #1207471a;
    box-shadow: 0 5px 30px #000;
    display: flex;
    height: -webkit-fill-available;
    height: -moz-available;
    min-height: 100vh;
    justify-content: center;
    width: 50%;
}
.globalContainer p {
    font-size: 20px;
}

/* NAVBAR*/
.navBarContent {
    width: 50%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    flex-flow: column;
    z-index: 10;
}
.halfCircle {
    border-bottom: solid #b77a3c;
    border-left: solid #b77a3c;
    border-radius: 0 0 10rem 10rem;
    border-right: solid #b77a3c;
    height: 4rem;
    margin: auto;
    width: 5rem;
    background: #3f2811;
}
    .halfCircle:hover {
        background-color: #37210f;
        cursor: pointer;
    }
#navBar {
    height: 0;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
    font-size: 20px;
    padding: 0;
    flex-wrap: wrap;
    transition: height 1s ease-in-out;
    gap: 20px;
    overflow-y: hidden;
    border-bottom: white solid;
    background: #3f2811;
    border: 6px solid #6d4321;
    box-shadow: 0 0 0 4px #b77a3c, 0 15px 40px #0006;
    box-shadow: 0 0 0 4px #b77a3c, 0 15px 40px #000000;
}
#navBar.expended {
    height: fit-content;
    transition: height 1s ease-in-out;
    padding: 20px 0;
}
a.navLink.linkFromNav {
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    height: 104px;
    text-decoration: none;
    width: 120px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10px;
}
    a.navLink.linkFromNav:hover {
        background-color: #2e1a0e;
    }
a.navLink.linkFromNav img {
    width: 55px;
}
a.navLink.linkFromNav p {
    background-color: #633713;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    font-size: 15px;
}
/* ACCEUIL */
.connectionBar {
    align-items: center;
    background-color: #120747;
    display: flex;
    font-size: 20px;
    justify-content: center;
    width: fit-content;
    border-radius: 5px;
    padding: 15px;
    flex-wrap: wrap;
    margin: 0 0 25px 0px;
}
.connectionBar p {
    margin: 5px 0 5px 0px;
}

.loginButton {
    background-color: #6441a5;
    border: none;
    border-radius: 3px;
    color: #fff;
    display: flex;
    font-size: 15px;
    line-height: 3px;
    padding: 15px;
    float: inline-end;
    margin: 0 10px 0 10px;
    font-weight: 900;
    filter: drop-shadow(2px 4px 6px black);
}
.loginButton:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 0px black);
}

.socialContainer {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}
/* PROFIL */
.showPokedex {
    width: fit-content;
    padding: 2px;
    background: #fff3;
    border: 2px solid #a4b3bd;
    border-radius: 5px;
    color: #fff;
    font-family: Charge Vector Black;
    letter-spacing: 1px;
    width: fit-content!important;
}
.showPokedex:hover {
    background: #05487380;
    border: 2px solid #054873;
    cursor: pointer;
}
.filterProfil {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 2px solid #b77a3c;
    border-top: 2px solid #b77a3c;
}
    .filterProfil button {
        color: white;
        background: rgba(255, 255, 255, 0.2);
        border: none;
        border-radius: 5px;
        font-family: Charge Vector Black;
        letter-spacing: 1px;
        border: 2px solid #a4b3bd;
        background: repeating-linear-gradient(90deg, #5a381e 0px, #5a381e 40px, #4a2d18 40px, #4a2d18 80px);
        border: 1px solid #b77a3c;
        border-radius: 10px;
        box-shadow: 0 0 0 3px #2c1a0d, 0 20px 40px rgba(0, 0, 0, .5);
        color: #f4e8c1;
    }

        .filterProfil button:hover {
            cursor: pointer;
            background: rgba(255, 255, 255, 0.2);
            border: rgba(5, 72, 115, 1) solid 2px;
            background: rgba(5, 72, 115, 0.5);
            background: #2b1f0480;
            border: 1px solid #010c12;
            cursor: pointer;
        }

    .filterProfil .active {
        cursor: pointer;
        background: rgba(255, 255, 255, 0.2);
        border: rgba(5, 72, 115, 1) solid 2px;
        background: rgba(5, 72, 115, 0.5);
        background: #2b1f0480;
        border: 1px solid #010c12;
        cursor: pointer;
    }
.profilContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    padding-bottom: 100px;
    width: 90%;
}
.profilHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
a.leaderboardHeaderContainerLink {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
    color: white;
}
.leaderboardHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    border: 2px solid #b77a3c;
}
.leaderboardHeaderContainer:hover {
    background-color: #3b3b3b4d;
    cursor:pointer;
}
.rank {
    font-weight: 900;
    font-size: 0.75rem;
    line-height: 1rem;
    background-color: rgba(51, 65, 85, 0.5);
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    display: flex;
    color: #8a9cdd;
}
.profilHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.profilHeader img {
    width: 100px;
}
.profilInfos p {
    text-align: left;
    margin: 0;
    font-size: 20px;
}
.profilDex p {
    text-align: left;
    margin: 0;
    font-size: 13px;
}
.profilDex .levelProfil {
    font-size: 20px;
}
p.levelProfil {
    font-size: 15px;
}
.progressBarProfilExternal {
    background-color: #fff;
    border: 1px solid #8a9cdd;
    height: 10px;
    width: 100%;
    border-radius: 10px;
}
.progressBarProfilInternal {
    color: #072851;
    height: 10px;
    max-width: 100%;
    position: relative;
    transition: width 1s ease-in-out;
    border-radius: 10px;
    background: linear-gradient(140deg, #120747, #035078);
}
.progressBarProfilInternal p {
    color: #fff;
    left: 0;
    position: absolute;
    right: 0;
}
.textProgressProfil {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}
.textProgressProfil p {
    margin: 0;
    margin-bottom: -15px;
    font-size: 13px;
}
.profilBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 15px;
}
.boxProfilLarge {
    background: #0003;
    border-radius: 10px;
    height: 100px;
    padding-left: 25px;
    width: 380px;
    border: 1px solid #6d4321;
    box-shadow: 0 0 0 4px #b77a3c, 0 15px 40px rgba(0, 0, 0, .4);
}
.profilPicture {
    border-radius: 10px;
    width: 85px;
    padding: 5px;
    margin-right: 10px;
    height: 85px;
    border: 1px solid #6d4321;
    box-shadow: 0 0 0 1px #b77a3c, 0 15px 40px #0006;
}
.compagnonPicture {
    border-radius: 10px;
    height: 85px;
    margin-left: 10px;
    padding: 5px;
    width: 85px;
    border: 1px solid #6d4321;
    box-shadow: 0 0 0 1px #b77a3c, 0 15px 40px #0006;
}
.skinContainer .profilPicture:hover{
    background-color:white;
    border:black solid 1px;
    cursor:pointer;
}
.skinPicture {
    border-radius: 100%;
    border: #8a9cdd solid 1px;
    width: 85px;
    padding: 5px;
}
#skinPicture:hover {
    border-radius: 100%;
    border: black solid 1px;
    cursor:pointer;
    background-color:white!important;
}
.skinContainer{
    display:flex;
    flex-direction:row;
    gap:10px;
    flex-wrap:wrap;
}
.openSkinDiv {
    width: 100px;
    height: 100px;
    background-image: url('../public/case.png');
    background-size: cover;
    background-color: #7b0808;
    border-radius: 100%;
    border: 1px solid #8a9cdd;
}
.openSkinDiv:hover {
    background-color: white;
    border: 1px solid black;
    cursor:pointer;
}
.openSkinText {
    border-radius: 100%;
    background-color: #7b0808;
    width: 25px;
    border: 1px solid #8a9cdd;
    text-align: center;
    height: 25px;
    position: relative;
    left: -5px;
    top: -10px;
}
.leaderboardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;
    padding-bottom: 100px;
    width: 90%;
}
/* SHINY DEX */
.shinydexContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 90%;
    margin: auto;
    padding-bottom: 100px;
}

.shinydexCard {
    display: flex;
    flex-flow: column;
    width: 270px;
    border: 2px solid #b77a3c;
}

.shinydexName {
    color: white;
    text-align: center;
    background-color: #311f00;
    padding: 5px;
    font-size: 18px;
}

.shinydexSpriteContainer {
    background-image: linear-gradient(to bottom right, #1a1301, #392902 25%, #452906 50%, #452906 75%, #1a1301);
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    position: relative;
}

.shinydexSprite {
    max-width: 100%;
    max-height: 150px;
    width: auto;
}

.description {
    color: white;
    text-align: center;
    background-color: #311f00;
    padding: 5px;
    font-size: 18px;
}

.spanShinydex {
    color: #fff8dc;
}

.linkShinydex {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
}

/* Combat */
.rewardFightContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width:100%;
    min-height:75px;
}
.rewardItem p {
    margin: 0;
    font-size: 10px;
}
.rewardItem {
    background-color: #00000080;
    height: 50px;
    right: 10px;
    width: 50px;
    border-radius: 5px;
}
.rewardItem img{
    width: 25px;
}
.loveBarContainer {
    background: linear-gradient(180deg, #2a1a24, #1a1016);
    border: 2px solid #ff9ecf;
    border-radius: 18px;
    box-shadow: inset 0 2px 4px #ffffff1a, inset 0 -2px 4px #00000080, 0 0 12px #ff149359;
    height: 17px;
    overflow: visible;
    position: relative;
    width: 50%;
}
.loveBarContainer::after {
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-linear-gradient( 90deg, transparent, transparent calc(10% - 2px), rgba(255,255,255,.2) calc(10% - 2px), rgba(255,255,255,.2) 10% );
    pointer-events: none;
    z-index: 2;
}
.loveBar {
    height: 100%;
    border-radius: 16px;
    position: relative;
    background: linear-gradient( 90deg, #ff9ecf, #ff4da6, #ff1493 );
    transition: width .8s ease;
    box-shadow: inset 0 2px 4px rgba(255,255,255,.3), 0 0 15px rgba(255,20,147,.5);
}
    .loveBar::before {
        content: "";
        position: absolute;
        top: 0;
        left: -50%;
        width: 50%;
        height: 100%;
        background: linear-gradient( 90deg, transparent, rgba(255,255,255,.4), transparent );
        animation: loveShine 2s infinite alternate;
    }
.loveText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    text-shadow: 0 0 5px black, 0 0 10px black;
    z-index: 3;
}
.heart {
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    right: -26px;
    top: 50%;
    transform: translateY(-50%);
    width: 42px;
    height: 42px;
    background: #ffffff;
    clip-path: shape( from 50% 91%, line to 90% 50%, arc to 50% 9% of 1%, arc to 10% 50% of 1% );
    box-shadow: 0 0 10px rgba(255,255,255,.8), 0 0 20px rgba(255,20,147,.7);
    animation: heartBeat 1s infinite alternate;
    z-index: 5;
}
.heartInt {
    position: absolute;
    width: 34px;
    height: 34px;
    clip-path: inherit;
    transition: background .3s ease;
    box-shadow: inset 0 2px 4px rgba(255,255,255,.4), 0 0 10px rgba(255,20,147,.8);
}
@keyframes heartBeat {
    from {
        transform: translateY(-50%) scale(1);
    }

    to {
        transform: translateY(-50%) scale(1.12);
    }
}
@keyframes loveShine {
    from {
        left: -5%;
    }

    to {
        left: 62%;
    }
}
.fightContainer {
    align-items: center;
    background-color: rgba(0,0,0,0.1);
    display: flex;
    flex-flow: column;
    height: 540px;
    width: 75%;
    background-blend-mode: darken;
    position: relative;
    justify-content: center;
    background-size: cover;
    border: 5px solid #b77a3c;
    border-radius: 10px;
    box-shadow: 0 0 0 3px #2c1a0d, 0 20px 40px rgba(0, 0, 0, .5);
    color: #f4e8c1;
}


.fightActionsContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    min-height: 100px;
}
.honeyActionsContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: auto;
    max-width: 430px;
}

.honeyActions {
    background-color: #0000001a;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.honeyActions:hover {
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}
.honeyActions img {
    width: 50px;
}
.honeyActions p {
    font-size: 20px;
    margin:0;
}

.fightActions {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    flex-flow: column;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fightActionsFlee {
    width: 100px;
    height: 100px;
    background-color: #542601e0;
    border-radius: 10px;
    height: 65px;
    width: 65px;
    position: absolute;
    right: 10px;
}
fightActionsFlee img {
    width: 55px;
}
.fightActionsFlee p {
    font-size: 13px;
    margin: 0;
}
.fightActionsFlee:hover {
    background-color: #341d02cc;
    cursor: pointer;
}
.fightActions:hover {
    background-color: rgba(0,0,0,0.6);
    cursor:pointer;
}

.fightActions img {
    width: 35px;
    margin: 7px;
}
.fightSpriteCard {
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    perspective: 1000px;
    transform-style: preserve-3d;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: myAnimation;
    background-repeat:no-repeat;
    background-position:center;
}

    .fightSpriteCard img {
        width: 250px;
        height: 250px;
        object-fit: contain;
        width: auto;
        height: auto;
        position: relative;
        z-index: 20;
        width: 250px;
        height: stretch;
    }
.shadowPokemon{
    animation: shadowPulse 2.5s infinite ease-in-out;
    filter: brightness(.55) contrast(1.6) saturate(.4) hue-rotate(260deg) drop-shadow(0 0 15px #6a00ff) drop-shadow(0 0 35px #b000ff);
    width: 250px;
    position: relative;
    z-index: 20;
}

@keyframes shadowPulse {
    0% {
        filter: contrast(1.5) saturate(0.2) invert(1) grayscale(.1) drop-shadow(0 0 20px rgba(0, 0, 0, .9)) drop-shadow(0 0 10px rgba(40, 0, 0, .8));
    }

    50% {
        filter: contrast(1.3) saturate(0.3) invert(1) grayscale(.1) drop-shadow(0 0 15px rgba(0, 0, 0, .95)) drop-shadow(0 0 25px rgba(80, 0, 0, .9));
    }

    100% {
        filter: contrast(1.5) saturate(0.2) invert(1) grayscale(.1) drop-shadow(0 0 20px rgba(0, 0, 0, .9)) drop-shadow(0 0 10px rgba(40, 0, 0, .8));
    }
}
.shadowSmokeFront {
    position: absolute;
    left: -120px;
    top: -120px;
    width: calc(100% + 240px);
    height: calc(100% + 240px);
    z-index: 21;
    pointer-events: none;
    opacity: 0.95;
    mix-blend-mode: screen;
}
.shadowSmokeBack {
    position: absolute;
    left: -120px;
    top: -120px;
    width: calc(100% + 240px);
    height: calc(100% + 240px);
    z-index: 1;
    pointer-events: none;
    opacity: 0.95;
    mix-blend-mode: screen;
}
.fightActions p {
    font-size: 13px;
    margin: 0;
}

.tierFight {
    font-size: 13px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
    line-height: 8px;
    padding: 7px 10px 5px 10px;
}

.fightContainer > .fightName {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 30px;
}
.pokeball {
    display: block;
    width: 192px;
    height: 192px;
    border-radius: 50%;
    border: 8px solid black;
    box-shadow: inset -16px -8px 0 0 rgba(0, 0, 0, 0.2);
    animation: shake cubic-bezier(.36,.07,.19,.97) 1.5s 3,catch .5s ease-out 5.25s forwards;
        position:absolute;
}
.emptyInventory {
    background: rgba(16, 16, 77, 0.5);
    padding: 10px;
    border-radius: 10px;
}
/* Inventaire */
.inventoryContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.twitchLink {
    color: #fff;
    text-decoration: none;
}
.twitchLink:hover {
    color: #c6e8f9;
}
/* Pokedex */
.dexContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-bottom: 100px;
    width: 90%;
}

.dexCard {
    display: flex;
    flex-flow: column;
    width: 145px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    border: 2px solid #a4b3bd;
}

.dexName {
    color: #8fc9ef;
    text-align: center;
    padding: 5px;
    font-size: 18px;
}

.dexSpriteContainer {
    flex: 1 1 auto;
    min-height: 1px;
    position: relative;
    display: flex;
    justify-content: center;
}

.dexSprite {
    max-height: 63px;
    max-width: 100%;
    width: auto;
}

.dexDescription {
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.dexDescription p {
    margin: 0;
    font-size: 12px;
}
span.dexNumber {
    position: absolute;
    font-size: 10px;
    left: 5px;
    top: -6px;
    color: #8fc9ef;
}
.genFilter {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
}
    .genFilter button {
        color: white;
        background: rgba(255, 255, 255, 0.2);
        border: none;
        border-radius: 5px;
        font-family: Charge Vector Black;
        letter-spacing: 1px;
        border: 2px solid #a4b3bd;
        background: repeating-linear-gradient(90deg, #5a381e 0px, #5a381e 40px, #4a2d18 40px, #4a2d18 80px);
        border: 1px solid #b77a3c;
        border-radius: 10px;
        box-shadow: 0 0 0 3px #2c1a0d, 0 20px 40px rgba(0, 0, 0, .5);
        color: #f4e8c1;
    }
        .genFilter button:hover {
            cursor: pointer;
            background: rgba(255, 255, 255, 0.2);
            border: rgba(5, 72, 115, 1) solid 2px;
            background: rgba(5, 72, 115, 0.5);
            background: #2b1f0480;
            border: 1px solid #010c12;
            cursor: pointer;
        }
.buttonLeaderboard button {
    color: white;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    font-family: Charge Vector Black;
    letter-spacing: 1px;
    border: 2px solid #a4b3bd;
}
.buttonLeaderboard button:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    border: rgba(5, 72, 115, 1) solid 2px;
    background: rgba(5, 72, 115, 0.5);
}
.genFilter .active {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    border: rgba(5, 72, 115, 1) solid 2px;
    background: #2b1f0480;
    border: 2px solid #010c12;
    cursor: pointer;
}

 /* Compagnon*/
.dexCardCompagnon {
    display: flex;
    flex-flow: column;
    width: 145px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    border: 2px solid #a4b3bd;
}
.dexCardCompagnon:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor:pointer;
}

/* Expedition */
.expeditionContainer{
    display : "flex";
    justify-content:"center";
    align-items:"center";
    justify-content:"center";
}
.validExpeditionButton {
    background: #fff3;
    border: 2px solid #a4b3bd;
    border-radius: 5px;
    color: #fff;
    font-family: Charge Vector Black;
    letter-spacing: 1px;
    margin: 10px;
}
.validExpeditionButton:hover {
    background: #05487380;
    border: 2px solid #054873;
    cursor: pointer;
}
/* Combat */

.hpBarContainer {
    position: relative;
    width: 100%;
    height: 17px;
    border: 2px solid #d4d4d4;
    border-radius: 12px;
    overflow: hidden;
    background: linear-gradient( to bottom, #111, #222 );
    box-shadow: inset 0 2px 4px rgba(255,255,255,0.15), inset 0 -2px 4px rgba(0,0,0,0.6), 0 0 10px rgba(0,0,0,0.5);
}
    .hpBarContainer::after {
        content: "";
        position: absolute;
        inset: 0;
        background: repeating-linear-gradient(90deg, #0000, #0000 calc(10% - 3px), #fff6 calc(10% - 3px), #ffffff00 calc(10% - 1px), #00000000 10%);
        z-index: 2;
    }

.hpBar {
    height: 100%;
    border-radius: 8px;
    transition: width 0.8s ease, background 0.3s ease;
    position: relative;
    box-shadow: inset 0 2px 6px rgba(255,255,255,0.3), 0 0 15px rgba(0,255,100,0.4);
    background: linear-gradient(90deg, rgb(129 77 0) 0%, rgb(223 171 111) 100%)
}

/* Effet brillant */
    .hpBar::after {
        content: "";
        position: absolute;
        top: 0;
        left: -50%;
        width: 50%;
        height: 100%;
        background: linear-gradient( 90deg, transparent, rgba(255,255,255,0.35), transparent );
        animation: shine 2s infinite alternate;
    }

.hpText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 0 0 6px rgba(255,255,255,0.6);
    z-index: 2;
    user-select: none;
}

@keyframes shine {
    from {
        left: -50%;
    }

    to {
        left: 65%;
    }
}

.progressBarFightExternalXp {
    background-color: transparent;
    height: 20px;
    width: 70%;
    border: white solid 1px;
    position: relative;
}

.progressBarFightInternalXp {
    background-color: #2483c3;
    height: 20px;
    transition: width 1s ease-in-out;
    color: #072851;
    position: relative;
    max-width: 100%;
}
.progressBarFightExternalXp p {
    color: #fff;
    left: 0;
    position: absolute;
    right: 0;
    top: -22px;
}
.fightSpriteCardEnemy {
    background-position: 50%;
    background-repeat: no-repeat;
    margin-top: 35px;
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible;
}
.fightSpriteCardInvert {
    background-position: 50%;
    background-repeat: no-repeat;
    margin-top: 35px;
    transform: scaleX(-1);
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spawnInvert {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: spawnInvert;
}
.spawn {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: myAnimation;
}
.fightAttack {
    animation: attack 0.4s ease-out;
}
.fightSpriteCardEnemy.hit {
    animation: hit 250ms cubic-bezier(.2,.8,.3,1), damageFlash 250ms ease-out;
}
.fightSpriteWrapper {
    position: relative;
}

.fightSpriteCardEnemy {
    position: relative;
}

.damageText,
.hitParticle {
    position: absolute;
}
.damageText {
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    font-size: 32px;
    font-weight: bold;
    pointer-events: none;
    z-index: 100;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 0 0 6px #fff9;
    animation: damageFloat 1s ease-out forwards;
}
.damageText.critical {
    color: #ffd700;
    font-size: 48px;
}


@keyframes damageFloat {

    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.3);
    }

    15% {
        opacity: 1;
        transform: translate( calc(-50% + var(--endX) * 0.15), calc(-50% + var(--endY) * 0.15 - 20px) ) scale(1.4);
    }

    50% {
        transform: translate( calc(-50% + var(--endX) * 0.5), calc(-50% + var(--endY) * 0.5 - 50px) ) scale(1);
    }

    100% {
        opacity: 0;
        transform: translate( calc(-50% + var(--endX)), calc(-50% + var(--endY)) ) scale(0.8);
    }
}

.critical {
    color: gold;
    font-size: 40px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000, 0px 0px 10px #ffcc00;
}
.koAnimation {
    animation: koAnimation 1s forwards;
}
.hitParticle {
    position: absolute;
    background: #ffb000;
    border-radius: 2px;
    pointer-events: none;
    z-index: 50;
    box-shadow: 0 0 4px #ffb000, 0 0 8px #ff6a00;
    animation: particleBurst 500ms ease-out forwards;
}

/* Cartes Boutique*/
.setCollection h2{
    margin: 5px;
}
.viewSwitcher {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}
.viewSwitcher button {
    border: none;
    border-radius: 12px;
    cursor: pointer;
    padding: 12px 24px;
    font-family: Charge Vector Black;
    margin-top: 10px;
}
.viewSwitcher .active {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}
img.boosterImage {
    filter: brightness(0.8);
}
.globalProgressCard{
    width:70%
}
button.openBoosterButton span {
    font-size: 18px;
    font-family: Charge Vector Black;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 0 0 6px #fff9;
}
.rotationGrid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.boosterCard {
    width: 220px;
    border-radius: 24px;
    overflow: hidden;
    background: #111;
    box-shadow: 0 10px 30px rgba(0,0,0,.4);
    transition: .25s;
    position: relative;
}
    .boosterCard:hover {
        transform: translateY(-8px);
        box-shadow: 0 20px 40px rgba(0,0,0,.6);
    }
.boosterImage {
    width: 100%;
    display: block;
}
.boosterFooter {
    background: #8f620e80;
    padding: 20px;
    min-height: 116px;
    padding: 10px;
}
.progressInfos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    color: white;
    font-weight: bold;
}
    .progressInfos span {
        font-size: 18px;
    }
.openingOverlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.95);
    z-index: 999999;
}
.openBoosterButton {
    width: 100%;
    border: none;
    border-radius: 14px;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background: rgba(0,0,0,0.5);
    transition: .2s;
    font-family: 'Charge Vector Black';
    margin-top: 10px;
}
    .openBoosterButton:hover {
        transform: scale(1.03);
    }
    .openBoosterButton.disabled {
        opacity: .5;
        cursor: not-allowed;
    }
.hotBadge {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
    padding: 8px 16px;
    border-radius: 999px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: linear-gradient( 135deg, #ff3b30, #ff8800 );
    box-shadow: 0 0 20px rgba(255,120,0,.7);
}
.rotationTimer {
    color: white;
    text-align: center;
    margin-bottom: 15px;
    font-size: 14px;
    opacity: .85;
    min-height: 19px;
}
.buttonContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.buttonBoosterIcon {
    width: 24px;
    height: 24px;
}
.openingWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.card {
    width: 350px;
    height: 500px;
    perspective: 1500px;
    cursor: pointer;
}
.cardInner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform .8s;
    transform-style: preserve-3d;
}
.card.flipped .cardInner {
    transform: rotateY(180deg);
}
.cardFront,
.cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.cardBack {
    position: relative;
    transform: rotateY(180deg);
}
.newBadge {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 100;
    padding: 10px 20px;
    border-radius: 999px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background: linear-gradient( 135deg, #ff8c00, #ff2d55 );
    box-shadow: 0 0 20px rgba(255,140,0,.8);
    animation: newReveal .6s ease-out;
}
@keyframes newReveal {

    0% {
        opacity: 0;
        transform: scale(0) rotate(-15deg);
    }

    70% {
        transform: scale(1.15) rotate(5deg);
    }

    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
}
    .cardFront img,
    .cardBack img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
.tier3 {
    animation: pulse 1.5s infinite;
}
@keyframes pulse {

    0%,100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.03);
    }
}
.tier4 {
    filter: drop-shadow( 0 0 20px #00c8ff );
}
.tier5 {
    animation: glowGold 1.5s infinite, shake .3s infinite;
}
@keyframes shake {

    0% {
        transform: rotate(-1deg);
    }

    50% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(-1deg);
    }
}
@keyframes glowGold {

    0% {
        filter: drop-shadow( 0 0 10px gold );
    }

    50% {
        filter: drop-shadow( 0 0 40px gold );
    }

    100% {
        filter: drop-shadow( 0 0 10px gold );
    }
}
.tier6 {
    animation: legendaryGlow 1s infinite;
}
@keyframes legendaryGlow {

    0% {
        filter: drop-shadow( 0 0 20px gold );
    }

    50% {
        filter: drop-shadow( 0 0 80px gold );
    }

    100% {
        filter: drop-shadow( 0 0 20px gold );
    }
}
.tier7 {
    animation: mythicalGlow .8s infinite;
}
@keyframes mythicalGlow {

    0% {
        filter: drop-shadow( 0 0 20px #ff00ff );
    }

    50% {
        filter: drop-shadow( 0 0 120px #00ffff );
    }

    100% {
        filter: drop-shadow( 0 0 20px #ff00ff );
    }
}
.tierBg6 {
    background: radial-gradient( circle, rgba(255,215,0,.15), rgba(0,0,0,.95) );
}
.tierBg7 {
    animation: rainbowBg 5s linear infinite;
}
@keyframes rainbowBg {

    0% {
        background: #220022;
    }

    25% {
        background: #002244;
    }

    50% {
        background: #224400;
    }

    75% {
        background: #440022;
    }

    100% {
        background: #220022;
    }
}
.cardInfos {
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.hint {
    color: #ccc;
    font-size: 18px;
}
.transitioning {
    pointer-events: none;
}
@keyframes particleBurst {

    0% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(var(--rotation)) scale(1);
    }

    100% {
        opacity: 0;
        transform: translate( calc(-50% + var(--dx)), calc(-50% + var(--dy)) ) rotate(var(--rotation)) scale(0);
    }
}
.closeOpeningButton {
    margin-top: 30px;
    padding: 12px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}
/* Collection Cartes*/
button.backButton {
    background: #00000080;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-family: Charge Vector Black;
    margin-top: 10px;
    padding: 12px 24px;
    margin: 0;
}
.collectionGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 20px;
    width: 100%;
    padding-top: 0;
}
.cardsGrid {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.collectionCard {
    overflow: hidden;
}
    .collectionCard:hover .collectionCardImage {
        transform: scale(1.5);
        transform-origin: var(--x, 50%) var(--y, 50%);
    }
.collectionCardImage {
    width: 200px;
    display: block;
    transition: transform .08s linear;
}
.quantityBadge {
    position: absolute;
    bottom: 10px;
    right: 10px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0,0,0,.85);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    opacity: 0;
    transform: scale(.8);
    transition: .2s;
    pointer-events: none;
}
.collectionCard:hover .quantityBadge {
    opacity: 1;
    transform: scale(1);
}
/* Animation */
@keyframes koAnimation {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(150px);
    }
}
@keyframes attack {
    0% {
        transform: scale(1) scaleX(-1) translateX(0);
    }

    30% {
        transform: scale(1) scaleX(-1) translateX(-50px);
    }

    40% {
        transform: scale(1) scaleX(-1) translateX(-60px);
    }

    100% {
        transform: scale(1) scaleX(-1) translateX(0);
    }
}
@keyframes hit {

    0% {
        transform: translateX(0) scale(1);
    }

    15% {
        transform: translateX(-12px) scale(0.92, 1.08);
    }

    35% {
        transform: translateX(8px) scale(1.05, 0.95);
    }

    55% {
        transform: translateX(-4px) scale(0.98, 1.02);
    }

    100% {
        transform: translateX(0) scale(1);
    }
}

@keyframes damageFlash {

    0%, 100% {
        opacity: 1;
        filter: none;
    }

    30% {
        opacity: 0.65;
        filter: brightness(0.6) sepia(1) saturate(15) hue-rotate(-40deg);
    }
}
    @keyframes myAnimation {
        from {
            transform: scale(0);
        }

        to {
            transform: scale(1);
        }
    }
    @keyframes spawnInvert {
        from {
            transform: scale(0) scaleX(-1);
        }

        to {
            transform: scale(1) scaleX(-1);
        }
    }
    @keyframes shake {
        0% {
            transform: translateX(0) rotate(0);
        }

        20% {
            transform: translateX(-10px) rotate(-20deg);
        }

        30% {
            transform: translateX(10px) rotate(20deg);
        }

        50% {
            transform: translateX(-10px) rotate(-10deg);
        }

        60% {
            transform: translateX(10px) rotate(10deg);
        }

        100% {
            transform: translateX(0) rotate(0);
        }
    }

    @keyframes catch {
        to {
            filter: saturate(0.8) brightness(0.8);
        }
    }
    /* Media Query */
    @media (max-width: 1250px) {
        .globalContainer {
            width: 100%;
        }

        .fightContainer {
            width: 100%;
        }

        .navBarContent {
            width: 100%;
        }

        .globalContainerCenter {
            width: 100%;
        }

        .welcomeText p {
            margin-top: 80px;
        }
    }
.wood-sign {
    display: inline-block;
    padding: 15px 40px;
    background: linear-gradient(#b87a3d, #8b5a2b);
    color: #fff8dc;
    font-family: Charge Vector Black;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border: 4px solid #5a381e;
    border-radius: 8px;
    box-shadow: inset 0 2px 4px #ffffff00, 0 4px 8px #000000;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    position: relative;
}

    .wood-sign::before,
    .wood-sign::after {
        content: "";
        position: absolute;
        top: 10px;
        width: 12px;
        height: 12px;
        background: #444;
        border-radius: 50%;
    }

    .wood-sign::before {
        left: 10px;
    }

    .wood-sign::after {
        right: 10px;
    }
.App-header {
    background-image: url("../public/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
footer {
    background: #3f2811f0;
    border: 6px solid #6d4321;
    box-shadow: 0 0 0 4px #b77a3c, 0 15px 40px #0006;
}